workflows/telegram-content-approval.json
{
  "name": "Telegram Content Approval — AI Blog to Social Media",
  "nodes": [
    {
      "parameters": {
        "path": "content-approval",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "content-approval"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Twitter/X expert. Convert the blog post into a punchy Twitter thread (4-6 tweets).\n\nRules:\n- First tweet must be a strong hook (question, bold claim, or surprising stat)\n- Each tweet under 280 characters\n- Use line breaks between tweets\n- Include 2-3 relevant hashtags only in the last tweet\n- No emojis in first tweet, sparingly after\n- End with a CTA (follow, share, or link placeholder)\n- Separate tweets with ---\n\nReturn ONLY the thread text."
            },
            {
              "role": "user",
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000002",
      "name": "Generate Twitter Thread",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [360, 160],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a LinkedIn content strategist. Convert the blog post into a professional LinkedIn post.\n\nRules:\n- Start with a compelling hook line (1 sentence that stops scrolling)\n- Add a blank line after the hook\n- Use short paragraphs (2-3 sentences max)\n- Include bullet points for key takeaways\n- End with a question or CTA to drive comments\n- Add 3-5 relevant hashtags at the very end\n- Keep total length under 1300 characters (LinkedIn sweet spot)\n- Professional but conversational tone\n\nReturn ONLY the post text."
            },
            {
              "role": "user",
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000003",
      "name": "Generate LinkedIn Post",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [360, 440],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=New content ready for review:\n\n--- TWITTER THREAD ---\n{{ $node['Generate Twitter Thread'].json.choices[0].message.content }}\n\n--- LINKEDIN POST ---\n{{ $node['Generate LinkedIn Post'].json.choices[0].message.content }}\n\n--- \nReply with Approve or Reject.",
        "additionalFields": {
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callbackData": "approve"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callbackData": "reject"
                    }
                  }
                ]
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000004",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [640, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "telegram-callback"
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000005",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.callback_data || $json.callback_query?.data }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000006",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"approved\",\n  \"twitter\": {{ JSON.stringify($node['Generate Twitter Thread'].json.choices[0].message.content) }},\n  \"linkedin\": {{ JSON.stringify($node['Generate LinkedIn Post'].json.choices[0].message.content) }},\n  \"approved_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000007",
      "name": "Set Approved",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 180]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"rejected\",\n  \"message\": \"Content was rejected. Re-run the workflow or edit manually.\",\n  \"rejected_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000008",
      "name": "Set Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000009",
      "name": "Respond Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-1001-4000-8001-000000000010",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Twitter Thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Twitter Thread": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Set Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Approved": {
      "main": [
        [
          {
            "node": "Respond Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Rejected": {
      "main": [
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "content",
      "id": "1"
    },
    {
      "name": "telegram",
      "id": "2"
    },
    {
      "name": "approval",
      "id": "3"
    }
  ]
}