workflows/telegram-simple-approval.json
{
  "name": "Telegram Simple Approval — Approve Any Webhook Data",
  "nodes": [
    {
      "parameters": {
        "path": "approve-me",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "approve-me"
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=New item needs approval:\n\n{{ JSON.stringify($json.body, null, 2) }}\n\nTap a button below:",
        "additionalFields": {
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callbackData": "approve"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callbackData": "reject"
                    }
                  }
                ]
              }
            ]
          }
        }
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000002",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [360, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "telegram-callback"
        }
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000003",
      "name": "Wait for Response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.callback_data || $json.callback_query?.data }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000004",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"approved\", \"timestamp\": \"{{ new Date().toISOString() }}\"}"
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000005",
      "name": "Respond Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"rejected\", \"timestamp\": \"{{ new Date().toISOString() }}\"}"
      },
      "id": "b1b2c3d4-2001-4000-8001-000000000006",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Wait for Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Respond Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "approval",
      "id": "1"
    },
    {
      "name": "telegram",
      "id": "2"
    }
  ]
}